[submodule "semester_1/Программирование-Python"]
	path = semester_1/Программирование-Python
	url = git@github.com:Mansurow/bmstu-iu7-1-2sem-Python.git
[submodule "semester_1/Практика"]
	path = semester_1/Практика
	url = git@github.com:Mansurow/bmstu-iu7-1-2sem-Python.git
[submodule "semester_2/Программирование-Python"]
	path = semester_2/Программирование-Python
	url = git@github.com:Mansurow/bmstu-iu7-1-2sem-Python.git
[submodule "semester_2/Программирование-C"]
	path = semester_2/Программирование-C
	url = git@github.com:Mansurow/bmstu-iu7-2-3sem-C.git
[submodule "semester_2/Основы-программной-инженерии"]
	path = semester_2/Основы-программной-инженерии
	url = git@github.com:Mansurow/bmstu-iu7-2sem-FSE.git
[submodule "semester_3/Программирование-C"]
	path = semester_3/Программирование-C
	url = git@github.com:Mansurow/bmstu-iu7-2-3sem-C.git
[submodule "semester_3/Типы-и-структуры-данных"]
	path = semester_3/Типы-и-структуры-данных
	url = git@github.com:Mansurow/bmstu-iu7-3sem-TaSD.git
[submodule "semester_4/Объектно-ориентированное-программирование"]
	path = semester_4/Объектно-ориентированное-программирование
	url = git@github.com:Mansurow/bmstu-iu7-4sem-OOP.git
[submodule "semester_4/Машинно-зависиммые-языки-программирования"]
	path = semester_4/Машинно-зависиммые-языки-программирования
	url = git@github.com:Mansurow/bmstu-iu7-4sem-ASM.git
[submodule "semester_4/Вычислительные-алгоритмы"]
	path = semester_4/Вычислительные-алгоритмы
	url = git@github.com:Mansurow/bmstu-iu7-4sem-CA.git
[submodule "semester_4/Компьютерная-графика"]
	path = semester_4/Компьютерная-графика
	url = https://github.com/Mansurow/bmstu-iu7-4sem-CG
[submodule "semester_5/Анализ-алгоритмов"]
	path = semester_5/Анализ-алгоритмов
	url = git@github.com:Mansurow/bmstu-iu7-5sem-AA.git
[submodule "semester_5/Курсовая-работа-КГ"]
	path = semester_5/Курсовая-работа-КГ
	url = git@github.com:Mansurow/bmstu-cg-course.git
[submodule "semester_5/Операционные-системы"]
	path = semester_5/Операционные-системы
	url = git@github.com:Mansurow/bmstu-iu7-OS.git
[submodule "semester_5/Базы-данных"]
	path = semester_5/Базы-данных
	url = git@github.com:Mansurow/bmstu-iu7-5sem-DB.git
[submodule "semester_6/Операционные-системы"]
	path = semester_6/Операционные-системы
	url = git@github.com:Mansurow/bmstu-iu7-OS.git
	branch = main-linux
[submodule "semester_6/Математическая-статистика"]
	path = semester_6/Математическая-статистика
	url = git@github.com:Mansurow/bmstu-iu7-6sem-MS.git
	branch = master
[submodule "semester_6/Функциональное-и-логическое-программирование"]
	path = semester_6/Функциональное-и-логическое-программирование
	url = git@github.com:Mansurow/bmstu-iu7-6sem-FaLP.git
	branch = master
[submodule "semester_6/Курсовая-работа-БД"]
	path = semester_6/Курсовая-работа-БД
	url = git@github.com:Mansurow/bmstu-db-cp.git
	branch = master
[submodule "semester_6/Проектирование-программного-обеспечения"]
	path = semester_6/Проектирование-программного-обеспечения
	url = git@github.com:Mansurow/bmstu-iu7-backend-portal.git
	branch = master
[submodule "semester_6/Моделирование"]
	path = semester_6/Моделирование
	url = git@github.com:Mansurow/bmstu-iu7-6sem-modeling.git
	branch = master
[submodule "semester_7/Защита-информации"]
	path = semester_7/Защита-информации
	url = git@github.com:Mansurow/bmstu-iu7-7sem-Information-Protection.git
	branch = master
[submodule "semester_7/Моделирование"]
	path = semester_7/Моделирование
	url = git@github.com:Mansurow/bmstu-iu7-7sem-modeling.git
	branch = master
[submodule "semester_7/Компьютерные-сети"]
	path = semester_7/Компьютерные-сети
	url = git@github.com:Mansurow/bmstu-iu7-7sem-network.git
	branch = master
[submodule "semester_7/Научно-исследовательская-работа"]
	path = semester_7/Научно-исследовательская-работа
	url = git@github.com:Mansurow/bmstu-iu7-7sem-research-work.git
	branch = master
[submodule "semester_7/Курсовая-работа-КС"]
	path = semester_7/Курсовая-работа-КС
	url = git@github.com:Mansurow/bmstu-iu7-network-cp.git
	branch = master
[submodule "semester_7/Курсовая-работа-ОС"]
	path = semester_7/Курсовая-работа-ОС
	url = git@github.com:Mansurow/bmstu-iu7-os-cp.git
	branch = master
