[submodule "semester_1/Программирование-Python"]
	path = semester_1/Программирование-Python
	url = git@github.com:Mansurow/bmstu-iu7-1-2sem-Python.git
[submodule "semester_1/Практика"]
	path = semester_1/Практика
	url = git@github.com:Mansurow/bmstu-iu7-1-2sem-Python.git
[submodule "semester_2/Программирование-Python"]
	path = semester_2/Программирование-Python
	url = git@github.com:Mansurow/bmstu-iu7-1-2sem-Python.git
[submodule "semester_2/Программирование-C"]
	path = semester_2/Программирование-C
	url = git@github.com:Mansurow/bmstu-iu7-2-3sem-C.git
[submodule "semester_2/Основы-программной-инженерии"]
	path = semester_2/Основы-программной-инженерии
	url = git@github.com:Mansurow/bmstu-iu7-2sem-FSE.git
